@import url("https://use.typekit.net/dui6xjj.css");

.outerWrapper {
  position: relative;
  font-size: 1rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: opacity(0.4) blur(4px);
}

.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  min-height: 100vh;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #3c3c3c;
}

.contentWrapper a {
  color: inherit;
}

.title {
  font-family: "Alfarn", "Impact", sans-serif;
  font-weight: 400;
  font-size: 6em;
  color: #292828;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #4b4b4b;
}

.linkedForm {
  background-color: white;
  border-radius: 3px;
  padding: 1em;

  display: flex;
  flex-flow: row nowrap;
}

.sendButton,
.emailInput {
  border: 0;
  background-color: transparent;
  font-size: inherit;
}

.sendButton:focus,
.emailInput:focus {
  outline: none;
}

.emailInput {
  flex: 1 0;
}

.sendButton {
  flex: 0 0;
  outline: none;

  transition: filter 300ms ease-in-out;
}

.linkedForm:invalid .sendButton {
  filter: opacity(0.3);
  will-change: filter;
}

.socialList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 0;
}

.socialList li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1.3em;
  width: 2em;
  height: 2em;

  margin-right: 0.3em;

  will-change: transform;
  transition: transform 300ms ease-in-out;
}

.socialList li:last-of-type {
  margin-right: 0;
}

.socialList li:hover {
  transform: scale(1.2);
}

.emblems {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-right: 1em;
  padding-bottom: 1em;
}

.emblems img {
  width: 2em;
  height: 2em;
}
