.outerWrapper {
  position: relative;
  font-size: 1rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  filter: opacity(0.4) blur(4px);

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  min-height: 100vh;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  color: #3c3c3c;
}

.contentWrapper a {
  color: inherit;
}

.landing h1 {
  font-family: "Alfarn", "Impact", sans-serif;
  font-weight: 400;
  font-size: 6em;
  color: #292828;
}

.landing h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #4b4b4b;
}

.socialList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 0;
}

.socialList li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1.3em;
  width: 2em;
  height: 2em;

  margin-right: 0.3em;

  will-change: transform;
  transition: transform 300ms ease-in-out;
}

.socialList li:last-of-type {
  margin-right: 0;
}

.socialList li:hover {
  transform: scale(1.2);
}

.emblems {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-right: 1em;
  padding-bottom: 1em;
}

.emblems img {
  width: 2em;
  height: 2em;
}

@media (max-width: 700px) {
  .outerWrapper {
    font-size: 0.7rem;
  }

  .content {
    font-size: 1rem;
  }
}

.emailInput {
  margin-top: 5em;
}
